.cards-info {
  position: absolute;
  top: 20%;
  width: 40%;
  left: 30%;
  text-align: center;
  /* background-color: aqua; */
}

.cards-container {
  position: absolute;
  top: 25%;
  width: 70%;
  left: 15%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15%, 1fr));
  column-gap: 5%;
  row-gap: 40px;
  /* background-color: antiquewhite; */
}

.cards-container .button {
  height: 70px;
}
